$light-black: #434445;
$gray: #605f5e;
$ghostwhite: #f7fafc;

$breakpoint-phone: 768px;
$breakpoint-tablet: 1000px;

body {
  height: 100vh;

  table {
    border-collapse: separate !important;
  }

  .logo {
    width: 72px;
  }
  .jumbotron {
    background-color: white;
    padding: 3.25rem 2rem;
  }
  .select {
    width: 100%;
  }
  .jumbotron {
    margin-bottom: 0.5em !important;
    @media (max-width: 720px) {
      padding: 2rem 1rem;
    }
  }
  .container-fluid {
    &:nth-child(1) {
      @media (max-width: $breakpoint-tablet) {
        padding: 0 !important;
      }
    }
    &.full-h {
      height: 100vh;
    }
    .property-card {
      min-width: 23%;
      max-width: 340px;
    }
    .row {
      &.full-h {
        height: 100vh;
      }
      @media (max-width: $breakpoint-phone) {
        .mobile-full {
          width: 100% !important;
          flex-basis: auto !important;
        }
        .col {
          height: 100%;
        }
      }
      .sidebar {
        @media (max-width: $breakpoint-tablet) {
          max-width: 25%;
          width: auto;
          flex: 1;
        }
        padding-top: 2rem;
        background-color: $ghostwhite;

        .sidebar-sticky {
          ul > .nav-item > .nav-link {
            color: $light-black;
            font-weight: bold;

            svg {
              width: 1rem;
              opacity: 0.8;
              margin-right: 0.4rem;
            }
          }
        }
      }
    }
    .navbar-brand {
      position: absolute;
      right: 0.2em;
      top: 0.2em;
    }
  }
  @media (min-width: $breakpoint-phone) {
    .show-mobile {
      display: none !important;
    }
  }
}
.filter-form {
  .form-group > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
  }
}
.map_canvas_wrapper {
  display: block;
  margin: 1em 0 0 0;
  #map_canvas {
    width: 100%;
    max-height: 250px;
  }
}
#id_address {
  width: 100% !important;
}
#id_credit_score {
  width: 20%;
}
