{% extends 'app/base.html' %} {% load static %} {% load crispy_forms_tags %}<!---->
{% block content %}
<div class="container-fluid mt-2">
  <div class="row justify-content-center m-0 p-3 bg-white shadow-sm mb-4">
    <div class="col-lg-4">
      <canvas id="expenseChart" class="text-left"></canvas>
    </div>
    <div class="col-lg-4">
      <canvas id="propertyExpensesChart" class="text-left"></canvas>
    </div>
  </div>
  <h4 class="font-weight-normal mb-3 text-center">Fixed expenses</h4>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Expense</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      {% for property in properties %}
      <tr>
        <th scope="row">
          <a
            data-toggle="collapse"
            class="text-decoration-none arrowdown"
            href="#collapse{{property.id}}"
            role="button"
            aria-expanded="false"
            aria-controls="collapse{{property.id}}"
          >
            {{property.address}}
          </a>
          <div class="collapse" id="collapse{{property.id}}">
            <table class="table-active mt-2">
              {% if property.insurance %}
              <tr>
                <th scope="row">Insurance</th>
                <td>{{property.insurance}}</td>
              </tr>
              {% endif %} {% if property.property_taxes %}
              <tr>
                <th scope="row">Property taxes</th>
                <td>{{property.property_taxes}}</td>
              </tr>
              {% endif %}
              <tr>
                <th scope="row">Mortgage</th>
                <td>{{property.loan.monthly_payment}}</td>
              </tr>
            </table>
          </div>
        </th>
        <td>{{property.get_total_expenses}}</td>
      </tr>
      {% endfor %}
      <tr class="table-secondary font-weight-bold">
        <th scope="row">Total</th>
        <td>{{total_fixed}}</td>
      </tr>
    </tbody>
  </table>
  <h4 class="font-weight-normal mb-3 text-center">This month</h4>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Expense</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Fixed expenses</th>
        <td>{{total_fixed}}</td>
      </tr>
      {% for expense in expenses %}
      <tr>
        <th>{{expense.name}}</th>
        <td>{{expense.amount}}</td>
      </tr>
      {% endfor %}
      <tr class="table-secondary font-weight-bold">
        <th scope="row">Total</th>
        <td>{{total_mo}}</td>
      </tr>
    </tbody>
  </table>
  <div class="col-lg-6 m-auto">
    <h5 class="text-center">Add an expense</h5>
    <hr />
    <form method="POST">
      {% csrf_token %} {{form|crispy}}
      <div class="d-flex justify-content-center">
        <input type="submit" value="Add" class="btn btn-primary" />
      </div>
    </form>
  </div>
  {% endblock content %} {% block script %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
  <script src="{% static 'js/expense-charts.js' %}"></script>
  {% endblock script %}
</div>
