{% extends 'app/base.html' %} {% block content %}

<div class="bg-white shadow-sm mb-2 rounded">
  <div class="card-header d-flex">
    <h5 style="line-height: 1.5">Income</h5>
  </div>
  <div class="container-fluid p-4">
    <h2 class="font-weight-normal">Net/mo: {{stats.monthly_net_income}}</h2>
    <p class="lead"></p>
  </div>
</div>
<div class="shadow-sm mb-2 rounded">
  <div class="card-header d-flex">
    <h5 style="line-height: 1.5">My properties</h5>
    <div class="ml-5">
      <a href="{% url 'property_create' %}" class="btn btn-primary"> Add </a>
      <a href="{% url 'property_list' %}" class="btn btn-outline-primary">
        See full list</a
      >
    </div>
  </div>
  <div class="card-body row">
    {% for property in properties %}
    <div class="col-lg-3 col-sm-6 col-6 mb-1">
      <a href="{% url 'property_edit' property.id %}" class="card h-100 mb-2">
        <img
          class="card-img-top property-image"
          src="{{ property.image_url }}"
          alt="🏠"
        />
        <div class="card-body">
          {% if not property.tenant %}
          <span class="badge badge-warning">Vacant</span>
          {% endif %}
          <div class="card-title">
            <h5 class="d-inline-block align-middle">{{property}}</h5>
          </div>
        </div>
      </a>
    </div>
    {% empty %}
    <h3 class="text-muted">No properties here...</h3>
    {% endfor %}
  </div>
</div>

{% endblock content %}
