{% extends 'app/base.html' %} {% load crispy_forms_tags %} {% block content %}

<div class="container">
  <div class="container p-3 shadow-sm p-4 mt-4 bg-white rounded">
    {% if form.errors %}
    <div class="alert alert-danger text-center" role="alert">
      Please enter valid credentials
    </div>
    {% endif %} {% if messages %} {% for message in messages %}
    <div class="alert alert-success text-center" role="alert">{{message}}</div>
    {% endfor %} {% endif %}
    <form method="post" action="" class="">
      {% csrf_token %} {% for field in form %}
      <div class="form-group mb-4 font-weight-bold">
        {{field|as_crispy_field}}
      </div>
      {% endfor %}
      <div class="text-center">
        <input type="submit" value="Save" class="btn btn-primary" />
      </div>
    </form>
  </div>
</div>

{% endblock content %}
