{% extends 'app/base.html' %} {% load crispy_forms_tags %} {% block content %}
<div class="container">
  <div class="container p-3 shadow-sm p-4 mt-4 bg-white rounded">
    {% if form.errors %}
    <div class="alert alert-danger text-center" role="alert">
      Please enter valid credentials
    </div>
    {% endif %} {% if messages %} {% for message in messages %}
    <div class="alert alert-success text-center" role="alert">{{message}}</div>
    {% endfor %} {% endif %}
    <form method="post" action="" class="flex text-center">
      {% csrf_token %} {% for field in form %}
      <div class="form-group text-center mb-4 font-weight-bold">
        {{field|as_crispy_field}}
      </div>
      {% endfor %}

      <div>
        <iframe
          src="https://www.mortgagecalculator.org/webmasters/?downpayment=50000&homevalue=300000&loanammount=250000&interestrate=4&loanterm=30&propertytax=2400&pmi=1&homeinsurance=1000&monthlyhoa=0"
          style="width: 100%; height: 1200px; border: 0"
        ></iframe>
        <p>Data provided by <a href="">MortgageCalculator.com</a></p>
      </div>
      <input type="submit" value="Save" class="btn btn-primary" />
    </form>
  </div>
</div>

{% endblock content %}
