{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo03"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <svg
    width="1em"
    height="1em"
    viewBox="0 0 16 16"
    class="bi bi-person-fill mr-3"
    fill="currentColor"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"
    />
  </svg>
  <h3 class="navbar-brand">{{request.user.username}}</h3>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'logout' %}"
          >Log out <span class="sr-only"></span
        ></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="post">
      {% csrf_token %}
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
{% endblock navbar %}
