{% load static %} {% block sidebar %}

<nav class="col-md-2 d-none d-md-block sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item dropdown mb-4">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          {{request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'logout' %}">log out</a>
        </div>
      </li>

      <h6
        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mb-1 text-muted"
      >
        <span>Main</span>
      </h6>
      <li class="nav-item">
        <a class="nav-link active" href="{% url 'index' %}">📈 Dashboard </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'property_list' %}">🏠 Properties </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          href="#{% comment %}
        {% url 'loan_edit' %}{% endcomment %}"
        >
          💰 Loans
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'tenant_list' %}"> 🧑‍🤝‍🧑 Tenants </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> 📝 Forms </a>
      </li>
    </ul>

    <h6
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>Profile</span>
    </h6>
    <ul class="nav flex-column mb-2">
      <li class="nav-item">
        <a class="nav-link" href="#"> ⚙️ Settings </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> 📅 My plan </a>
      </li>
    </ul>
  </div>
</nav>
{% endblock sidebar %}
